node_modules
# Keep environment variables out of version control
.env
dist
.scannerwork
bundle

#FilesImages
licensePlate
stnk
paymentFile
*.jpg
*.png
*.jpeg
*.pdf
# Local Netlify folder
.netlify

.vercel


#Configuration Files
# Ignore configuration files
config.json
config.ts
envConfig.ts
database.ts


# Docker files
docker-compose.override.yml
docker-compose.debug.yml
.dockerignore
docker-compose.yml
